.idea

# apigen docs dir
/docs

# composer vendor dir
/vendor

# composer lock files
composer.lock

# cache folders
cache/data/
cache/page/
cache/twig/

# applications
/apps

# Tests
/src/Tests

# twig test and doc folders
src/plugins/twig/vendor/twig/twig/doc/
src/plugins/twig/vendor/twig/twig/test/

.idea
.DS_Store
cache.properties
composer.lock
build/api
build/coverage
build/logs
build/pdepend
build/phpdox
