{% extends "@plugin/adminpanel/layouts/main.twig" %}

{% block title %}Daten{% endblock %}

{% block content %}
    <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
            <th>Daten</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item,key in site.data %}
            <tr>
                <td>{{ item }}</td>
                <td class="links"><a class="pure-button button-small" href="?action=editdata&path=@site/data/{{ item }}.yml">Editieren</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
