<div class="adminpanel">
    <a href="{{ url('adminpanel') }}?action=editpage&path={{ page.path }}">Seite editieren</a>
    <a href="{{ url('adminpanel') }}">Administration</a>
    <a href="{{ url('adminpanel') }}?action=logout">Logout</a>
</div>

<style>
    .adminpanel {
        background-color:#191818;
        padding:0.5em 2em;
    }
    .adminpanel a {
        color:#999;
        margin-right:1em;
        font-size:16px;
    }
</style>