{% if recentPages|length > 0 %}
    {% apply spaceless %}
        <div class="widget-blog widget-blog-recent-posts">
            <h4>{{ title }}</h4>
            <ul>
                {% for pageItem in recentPages %}
                    <li>
                        {{ page_link(pageItem.route, pageItem.title) }}
                        {% if showDate %}<br>{{ pageItem.date|strftime(dateFormat) }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endapply %}
{% endif %}
