{% if recentPages|length > 0 %}
    <div class="widget-blog widget-blog-recent-posts">
        <h4>{{ title }}</h4>
        <ul>
            {% for pageItem in recentPages %}
                <li>
                    {{ link(pageItem.route, pageItem.title) }}
                    {% if showDate %}<br>{{ pageItem.date|strftime(dateFormat) }}{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
