{% extends "@sysplugin/adminpanel/layouts/main.twig" %}

{% block title %}Fehler{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block content %}

    <h2>Fehler</h2>
    <p>{{ exception.message }}</p>
    <pre>{{ exception.traceAsString }}</pre>

{% endblock %}
