{% extends "@plugin/adminpanel/layouts/main.twig" %}

{% block title %}Fehler{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block content %}

    <p>Ungültiger Action-Parameter!</p>

{% endblock %}
