{% if months|length > 0 %}
    <div class="widget-blog widget-blog-archives">
        <h4>{{ title }}</h4>
        <ul>
            {% for item in months %}
                {% set route = pageRoute ~ '/' ~ item.year ~ '/' ~ item.month %}
                {% set label = item.date|strftime('%B %Y') %}
                <li>{{ page_link(route, label) }}{% if showCount %} ({{ item.count }}){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
