{% if authors|length > 0 %}
    <div class="widget-blog widget-blog-authors">
        <h4>{{ title }}</h4>
        <ul>
            {% for author, count in authors %}
                {% set route = pageRoute ~ '/author/' ~ author|slugify %}
                <li>{{ link(route, author) }}{% if showCount %} ({{ count }}){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
