{% if categories|length > 0 %}
    {% apply spaceless %}
        <div class="widget-blog widget-blog-categories">
            <h4>{{ title }}</h4>
            <ul>
                {% for category, count in categories %}
                    {% set route = pageRoute ~ '/category/' ~ category|slugify %}
                    <li>{{ page_link(route, category) }}{% if showCount %} ({{ count }}){% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endapply %}
{% endif %}
