{% if tags|length > 0 %}
    {% spaceless %}
        <div class="widget-blog widget-blog-tags">
            <h4>{{ title }}</h4>
            <ul>
                {% for tag, count in tags %}
                    {% set route = pageRoute ~ '/tag/' ~ tag|slugify %}
                    <li>{{ page_link(route, tag) }}{% if showCount %} ({{ count }}){% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endspaceless %}
{% endif %}
