{% if tags|length > 0 %}
    <div class="widget-blog widget-blog-tags">
        <h4>{{ title }}</h4>
        <ul>
            {% for tag, count in tags %}
                {% set route = pageRoute ~ '/tag/' ~ tag|slugify %}
                <li>{{ link(route, tag) }}{% if showCount %} ({{ count }}){% endif %}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
