{% extends "@plugin/adminpanel/layouts/main.twig" %}
{% import "@plugin/adminpanel/views/post/macros.twig" as macro %}


{% block title %}Seiteninhalte{% endblock %}
{% block subtitle %}{{ path }}{% endblock %}

{% block alert %}
    {% if saved %}<div class="alert alert-success">Die Seiteninhalte wurden gesichert.</div>{% endif %}
{% endblock %}

{% block content %}

    <form action="" method="post" class="pure-form">

        <fieldset>
            {% for key, segment in segments %}
                {{ macro.segment(key, segment) }}
            {% endfor %}
        </fieldset>

        <button class="pure-button pure-button-primary" name="button1" type="submit">Sichern</button>
        <!--button class="pure-button pure-button-primary" name="button2" type="submit">Sichern & schliessen</button>
        <button class="pure-button pure-button-primary" name="button3" type="submit">Sichern & ansehen</button-->
        <a href="?action={{ controller }}/index&route={{ cancel }}" class="pure-button">Abbrechen</a>

    </form>

{% endblock %}
