---
title: Blog
layout: blog
---

<h1>Blog</h1>

{{ include('@snippet/filters.twig', {}) }}

{% set items = site.pageList.filterItems('blog', 'blog', routeParams) %}

<div class="posts">
    {% for item in items %}
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">{{ link(item.route, item.title) }}</h2>
        </header>
        <div class="blog-meta">
            {{ item.date|strftime("%e. %B %Y") }}
        </div>
        {% if item.image %}
        <div class="post-image">
            <a href="{{ url(item.route) }}">
                <img class="pure-img"
                     src="{{ item.image }}{# item.image|imagine('t560x260') #}"
                     alt=""/></a>
        </div>
        {% endif %}
        <div class="post-description">
            <p>{{ item.excerpt }}</p>
        </div>
    </section>
    {% else %}
    <section class="post">
        <div class="post-description">
            <p>Es sind keine Blogposts vorhanden.</p>
        </div>
    </section>
    {% endfor %}
</div>
