<div class="plugin-simplesearch-form">
    <form action="{{ url(action) }}" method="get">
        <input type="text" name="query" value="{{ query }}">
        <input type="submit" value="Suchen">
    </form>
</div>