---
title: Events & Filters
excerpt: All available events and filters.
---

<h1>Events & Filters</h1>

<h3>Events</h3>
<p>
    Herbie is using an event manager inspired by <a href="https://docs.laminas.dev/laminas-eventmanager/">Laminas' EventManager</a> component.
    During the application lifecycle the following events are triggered.
</p>
<table class="pure-table pure-table-horizontal" width="100%">
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="20%">Name</th>
        <th width="75%">Description</th>
    </tr>
    </thead>
    {% for event in site.data.events %}
        <tr>
            <td>{{ event.order }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.desc }}</td>
        </tr>
    {% endfor %}
</table>

<h3>Filters</h3>
<p>
    Herbie is using an intercepting filter inspired by <a href="https://docs.laminas.dev/laminas-eventmanager/intercepting-filters/">Laminas' FilterChain</a> for providing a mechanism to alter the workflow of the rendering process.
    During the application lifecycle The following filters are used.
</p>
<table class="pure-table pure-table-horizontal" width="100%">
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="20%">Name</th>
        <th width="75%">Description</th>
    </tr>
    </thead>
    {% for filter in site.data.filters %}
    <tr>
        <td>{{ filter.order }}</td>
        <td>{{ filter.name }}</td>
        <td>{{ filter.desc }}</td>
    </tr>
    {% endfor %}
</table>

<p>The given architecture allows you to attach your own listeners and filters.
    This can be done in your custom Herbie plugin or in the <code>index.php</code> bootstrap file.
</p>
