---
title: Events & Filters
excerpt: All available events and filters.
---

<h1>Events & Filters</h1>

<h3>Events</h3>
<p>
    Herbie is based on the <a href="https://docs.zendframework.com/zend-eventmanager/">EventManager</a> component by Zend.
    The following events are triggered during the application lifecyle.
</p>
<table class="pure-table pure-table-horizontal" width="100%">
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="20%">Name</th>
        <th width="75%">Description</th>
    </tr>
    </thead>
    {% for event in site.data.events %}
        <tr>
            <td>{{ event.order }}</td>
            <td>{{ event.name }}</td>
            <td>{{ event.desc }}</td>
        </tr>
    {% endfor %}
</table>

<h3>Filters</h3>
<p>
    Herbie is using <a href="https://docs.zendframework.com/zend-eventmanager/intercepting-filters/">Intercepting Filters</a> for providing a mechanism to alter the workflow of the rendering process.
    The following filters are used during the application lifecyle.
</p>
<table class="pure-table pure-table-horizontal" width="100%">
    <thead>
    <tr>
        <th width="5%"></th>
        <th width="20%">Name</th>
        <th width="75%">Description</th>
    </tr>
    </thead>
    {% for filter in site.data.filters %}
    <tr>
        <td>{{ filter.order }}</td>
        <td>{{ filter.name }}</td>
        <td>{{ filter.desc }}</td>
    </tr>
    {% endfor %}
</table>

<p>The given architecture allows you to attach your own listeners and filters.
    This can be done in your custom Herbie plugin or in the bootstrap PHP file.
</p>
