<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page_title(delim=' / ', siteTitle='Herbie Tests') }}</title>
    <base href="{{ baseUrl }}">
    <style>
        body { margin: 1rem }
    </style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>