<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>Blog &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/combo/1.11.2?/css/main-grid-old-ie.css&/css/layouts/blog-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <!-- Custom styles for this template -->
        <link href="{{ baseUrl }}/css/main.css" rel="stylesheet">
    <!--<![endif]-->

    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-med-1-4">
        <div class="header">
            <hgroup>
                <h1 class="brand-title">Herbie Demo Blog</h1>
                <h2 class="brand-tagline">Basierend auf dem Blog-Layout von Pure</h2>
            </hgroup>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="http://www.getherbie.org/">Herbie</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="http://github.com/getherbie">GitHub</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-med-3-4">
        <div>
            {% block content %}

                {{ content(0) }}

            {% endblock %}

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a class="blog-nav-item {% if route == 'index' %}active{% endif %}" href="{{ url('') }}">Home</a></li>
                        <li><a class="blog-nav-item {% if route == 'features' %}active{% endif %}" href="{{ url('features') }}">Features</a></li>
                        <li><a class="blog-nav-item {% if route == 'ueber-herbie' %}active{% endif %}" href="{{ url('ueber-herbie') }}">Über Herbie</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://yui.yahooapis.com/3.14.1/build/yui/yui-min.js"></script>
<script>
YUI().use('node-base', 'node-event-delegate', function (Y) {
    // This just makes sure that the href="#" attached to the <a> elements
    // don't scroll you back up the page.
    Y.one('body').delegate('click', function (e) {
        e.preventDefault();
    }, 'a[href="#"]');
});
</script>

</body>
</html>