<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herbie Backend</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>{% include '@plugin/adminpanel/templates/styles.css' %}</style>
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href=" {{ url('adminpanel') }}">HERBIE</a>
            <ul>
                <!-- li class="menu-item-divided pure-menu-selected"><a href="?action=index">Home</a></li-->
                <li><a href="?action=page/index">Seiten</a></li>
                <li><a href="?action=post/index">Blogposts</a></li>
                <li><a href="?action=data/index">Daten</a></li>
                <li><a href="?action=media/index">Media</a></li>
                <li>&nbsp;</li>
                <li><a href=" {{ url('') }}">Frontend</a></li>
                <li><a href="?action=logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        {% block alert %}
            <div class="alert alert-success hidden"></div>
            <div class="alert alert-error hidden"></div>
        {% endblock %}
        <div class="header">
            <h1>{% block title %}{% endblock %}</h1>
            <h2>{% block subtitle %}{% endblock %}</h2>
        </div>
        <div class="content">
            <div class="pure-g">
                <div class="pure-u-1">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function (window, document) {

        var layout   = document.getElementById('layout'),
                menu     = document.getElementById('menu'),
                menuLink = document.getElementById('menuLink');

        function toggleClass(element, className) {
            var classes = element.className.split(/\s+/),
                    length = classes.length,
                    i = 0;

            for(; i < length; i++) {
                if (classes[i] === className) {
                    classes.splice(i, 1);
                    break;
                }
            }
            // The className is not found
            if (length === classes.length) {
                classes.push(className);
            }

            element.className = classes.join(' ');
        }

        menuLink.onclick = function (e) {
            var active = 'active';

            e.preventDefault();
            toggleClass(layout, active);
            toggleClass(menu, active);
            toggleClass(menuLink, active);
        };

    }(this, this.document));
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% block jquery %}{% endblock %}
<script>
    $(document).ready(function () {
        $(document).on("click", "html", function () {
            if ($('a.delete-confirmed').is(":visible")) {
                $('a.delete-confirmed').removeClass('delete-confirmed');
            }
            if ($('div.alert-error').is(":visible")) {
                $('div.alert-error').slideUp(50);
            }
        });
    });
</script>

{{ outputJs() }}

</body>
</html>
