RewriteEngine on

Redirect 301 /adminpanel https://herbie.tebe.ch/
Redirect 301 /atom.xml https://herbie.tebe.ch/
Redirect 301 /blog https://herbie.tebe.ch/
Redirect 301 /blog/2014/02/04-herbie-ist-da https://herbie.tebe.ch/
Redirect 301 /blog/2014/02/18-neue-demo-blogs https://herbie.tebe.ch/
Redirect 301 /blog/2014/03/02-demo-blog-yii-modul https://herbie.tebe.ch/
Redirect 301 /blog/2014/04/17-bildbearbeitung-mit-imagine https://herbie.tebe.ch/
Redirect 301 /blog/2014/05/09-responsive-youtube-videos https://herbie.tebe.ch/
Redirect 301 /blog/2014/05/21-vimeo-responsive-videos https://herbie.tebe.ch/
Redirect 301 /blog/2014/08/06-shortcodes https://herbie.tebe.ch/
Redirect 301 /blog/2014/09/24-symfonys-event-dispatcher https://herbie.tebe.ch/
Redirect 301 /blog/2014/11/07-assets https://herbie.tebe.ch/
Redirect 301 /blog/2014/11/30-plugin-simplecontact https://herbie.tebe.ch/
Redirect 301 /blog/2014/12/11-plugin-simplesearch https://herbie.tebe.ch/
Redirect 301 /blog/2014/12/15-website-startpaket https://herbie.tebe.ch/
Redirect 301 /blog/2015/01/20-googlemaps-plugin https://herbie.tebe.ch/
Redirect 301 /blog/2015/07/30-redirect-plugin https://herbie.tebe.ch/
Redirect 301 /blog/2015/08/25-release-version-8 https://herbie.tebe.ch/
Redirect 301 /blog/2015/09/17-blocks-und-listing-shortcodes https://herbie.tebe.ch/
Redirect 301 /datenschutz https://herbie.tebe.ch/
Redirect 301 /demo https://herbie.tebe.ch/
Redirect 301 /dokumentation https://herbie.tebe.ch/
Redirect 301 /dokumentation/cheat-sheet https://herbie.tebe.ch/
Redirect 301 /dokumentation/erste-schritte https://herbie.tebe.ch/
Redirect 301 /dokumentation/erste-schritte/installation https://herbie.tebe.ch/
Redirect 301 /dokumentation/erste-schritte/konfiguration https://herbie.tebe.ch/
Redirect 301 /dokumentation/erste-schritte/verzeichnisstruktur https://herbie.tebe.ch/
Redirect 301 /dokumentation/hooks https://herbie.tebe.ch/
Redirect 301 /dokumentation/hooks/uebersicht https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte/aufbau-einer-seite https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte/blogpost-erstellen https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte/daten-dateien https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte/seiten-erstellen https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte/shortcodes https://herbie.tebe.ch/
Redirect 301 /dokumentation/inhalte/variablen https://herbie.tebe.ch/
Redirect 301 /dokumentation/layout https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/adminpanel https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/blanktarget https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/disqus https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/feed https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/fileproxy https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/gist https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/googlemaps https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/grid https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/highlight https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/highlightjs https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/imagine https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/lipsum https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/markdown https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/mathjax https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/random https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/redirect https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/ress https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/shortcode https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/simplecontact https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/simplesearch https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/smartypants https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/test https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/textile https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/twig https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/video https://herbie.tebe.ch/
Redirect 301 /dokumentation/plugins/xmlsitemap https://herbie.tebe.ch/
Redirect 301 /dokumentation/schnipsel https://herbie.tebe.ch/
Redirect 301 /dokumentation/schnipsel/daten-ausgeben https://herbie.tebe.ch/
Redirect 301 /dokumentation/schnipsel/google-sitemap https://herbie.tebe.ch/
Redirect 301 /dokumentation/schnipsel/rss-feed https://herbie.tebe.ch/
Redirect 301 /dokumentation/twig https://herbie.tebe.ch/
Redirect 301 /dokumentation/twig/erweitern https://herbie.tebe.ch/
Redirect 301 /dokumentation/twig/filter https://herbie.tebe.ch/
Redirect 301 /dokumentation/twig/funktionen https://herbie.tebe.ch/
Redirect 301 /dokumentation/twig/tests https://herbie.tebe.ch/
Redirect 301 /downloads https://herbie.tebe.ch/
Redirect 301 /impressum https://herbie.tebe.ch/
Redirect 301 /kontakt https://herbie.tebe.ch/
Redirect 301 /license https://herbie.tebe.ch/
Redirect 301 /rss.xml https://herbie.tebe.ch/
Redirect 301 /sitemap https://herbie.tebe.ch/
Redirect 301 /sitemap.xml https://herbie.tebe.ch/
Redirect 301 /suche https://herbie.tebe.ch/
Redirect 301 /test https://herbie.tebe.ch/
Redirect 301 /test/blocks https://herbie.tebe.ch/
Redirect 301 /test/menu https://herbie.tebe.ch/
Redirect 301 /test/plugin-martypants https://herbie.tebe.ch/
Redirect 301 /test/plugin-random https://herbie.tebe.ch/
Redirect 301 /test/plugin-redirect https://herbie.tebe.ch/
Redirect 301 /test/shortcodes https://herbie.tebe.ch/
Redirect 301 /test/variablen https://herbie.tebe.ch/
