---
title: Homepage
layout: home
---

--- left ---

<h2>Welcome to Herbie</h2>
<p>
    With Herbie you are able to create a fully functional website or blog in a short amount of time and with little effort.
    Herbie is based on proven libraries and concepts and supports several PHP Standards Recommendations.
    It uses Twig as Templating Engine and offers a huge amount of variables, functions, filters and tests.
    It comes with an event and plugin manager based on Zend\EventManager to ensure extensibility and portability.
    And it offers some really useful plugins all managed by Composer & Packagist.
</p>
<p>Hungry for more? Give it a try!</p>

<h2>Latest News</h2>

{% for item in site.pageList|filter("type=news", "sort=-date", "limit=2") %}
<p><strong>{{ page_link(item.route, item.title) }}</strong><br>{{ item.excerpt }}</p>
{% endfor %}

--- right ---

<h2>Latest Posts</h2>

{% for item in site.pageList|filter("type=blog", "sort=-date", "limit=4") %}
<p><strong>{{ page_link(item.route, item.title) }}</strong><br>{{ item.excerpt }}</p>
{% endfor %}
