{% spaceless %}
{{ addcss([
    '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css',
    'http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C400%2C300%2C700%2C800&#038;ver=3.8.1',
    'http://yui.yahooapis.com/pure/0.5.0/pure-min.css',
    '@asset/default/css/styles.css',
   ], [], null, false, 0) }}
{{ addjs('@asset/default/js/scripts.js') }}
{% endspaceless %}
<!DOCTYPE html>
<html lang="{{ site.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ pagetitle({delim:' / ', siteTitle:'Herbie Flat-File CMS & Blog', rootTitle: 'Herbie - Einfaches Flat-File CMS- und Blogsystem', reverse:true}) }}</title>
        <link rel="alternate" type="application/rss+xml" title="RSS-Feed" href="{{ baseUrl }}/feed.rss">
        {{ outputcss() }}
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
        <!--<![endif]-->
    </head>
    <body class="{{ bodyclass() }}">
        <div class="header">
            <div class="container">
                <div class="inner-container">
                    <div class="pure-hidden-tablet pure-hidden-desktop">
                        <a href="#menu" id="menuLink" class="menu-link">
                            <!-- Hamburger icon -->
                            <span></span>
                        </a>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-3-5 pure-u-md-1-5">
                            <h1 class="brand-title">{{ link('index', '<span class="e">DEIN LOGO</span>') }}</h1>
                        </div>
                        <div class="pure-u-2-5 pure-u-md-4-5 text-right pure-hidden-phone">
                            <div class="topmenu" id="topmenu">
                                <div id="topmenu-inner">
                                    {{ menu({class:"pure-menu pure-menu-open pure-menu-horizontal"}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mobile-menu" class="pure-hidden-phone pure-hidden-tablet pure-hidden-desktop">
            <ul>
                {% for item in site.pageTree|visible %}
                {% set menuItem = item.menuItem %}
                {% set active = menuItem.routeEquals(route) ? 'pure-menu-selected' : '' %}
                {% set rootline = menuItem.routeInRootPath(route) ? 'pure-menu-selected' : '' %}
                <li class="{{ active }} {{ rootline }}"><a href="{{ url(menuItem.route) }}">{{ menuItem.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="container">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-4 footer-about">
                        <h3>Über Herbie</h3>
                        <p>Herbie ist ein einfaches Flat-File CMS- und Blogsystem, das auf simplen Textdateien basiert. Keine komplizierte Installation, keine Datenbank, nur Textdateien.</p>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4">
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4 footer-links">
                        <h3>Links</h3>
                        <ul>
                            <li>{{ link('kontakt', 'Kontakt') }}</li>
                            <li>{{ link('suche', 'Suche') }}</li>
                        </ul>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-4">
                        <h3>Code</h3>
                        <ul>
                            <li><a target="_blank" href="https://www.github.com/getherbie">Herbie bei GitHub</a></li>
                            <li><a target="_blank" href="https://packagist.org/packages/getherbie/">Herbie bei Packagist</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="pure-g">
                    <div class="pure-u-1 footer-copyright">
                        &copy; 2015 - {{ "now"|date("Y") }} Handgemacht mit Herbie
                    </div>
                </div>
            </div>
        </div>
        {{ outputjs() }}
    </body>
</html>