{% extends "@plugin/adminpanel/layouts/main.twig" %}

{% block title %}Blogposts{% endblock %}

{% block content %}
    <table class="pure-table pure-table-horizontal">
        <thead>
        <tr>
            <th>Titel</th>
            <th>Datum</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in site.posts %}
            <tr>
                <td>{% if item.title is empty %}[Kein Titel] {% else %}{{ item.title }}{% endif %}</td>
                <td>{{ item.date }}</td>
                <td class="links"><a class="pure-button button-small" href="?action=page/edit&path={{ item.path }}">Editieren</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
