{% set title = title ? title : 'Categories' %}
{% set showCount = showCount ? showCount : false %}
{# @todo: option dropdown (Display as dropdown) #}
{# @todo: option hierarchical (Show hierarchy) #}

{% if site.posts.categories|length > 0 %}
<div class="widget-blog widget-blog-categories">
    <h4>{{ title }}</h4>
    <ul>
        {% for category, count in site.posts.categories %}
        {% set route = 'blog/category/' ~ category|lower %}
        <li>{{ link(route, category) }}{% if showCount %} ({{ count }}){% endif %}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}