<!DOCTYPE html>
<html>
    <head>
        <title>{{ pagetitle({delim:' / ', siteTitle:'Herbie', rootTitle: 'Herbie - Ein CMS- und Blogsystem basierend auf Textdateien', reverse:false}) }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/styles.css">
    </head>
<body class="{{ bodyClass() }}">