<div class="topmenu">
    <div class="container">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                {% for item in site.tree %}
                    {% if item.visible %}
                        {% set active = item.routeEquals(route) ? 'pure-menu-selected' : '' %}
                        {% set rootline = item.routeInRootPath(route) ? 'pure-menu-selected' : '' %}
                        <li class="{{ active }} {{ rootline }}"><a href="{{ url(item.route) }}">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>